<%= form_with(model: Apply.new, local: true) do |form| %>
  <div class="r-c-content-jds" style="background: #8FD5FE;margin-bottom: 20px;">
    <span class="cc-title-jds" id="applyJob" data-job="<%= job.id %>" style="margin-left: 11px;color: #FFF;">Apply for this job</span>
  </div>
<% end %>

<script type="text/javascript">
  $("#applyJob").click(function(event){
    event.preventDefault();
    job = $(this).attr("data-job");
    $.ajax({
      headers: { 'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content') },
      type: 'POST',
      url: '/applies',
      dataType: 'html',
      data: {
        job_id: job,
      },
      success: function(response) {
        alert("HIX");
      },
      error: function (jqXHR, textStatus, errorThrown) {
        alert("HIXXXX");
      }
    });
  });
</script>
