<div class="sender-mess-item__content_right">
  <img src="/images/logo.png">
  <div class="interview-invite">
    <div class="c-interview-invite">
      <div class="i-i-time">
        <div class="m">June</div>
        <div class="d">20</div>
        <div class="wday">Monday</div>
      </div>
      <div class="i-i-content">
        <div class="i-tt">Invitation to Interview </div>
        <div class="i-job">Job: </div>
        <div class="i-time">When: </div>
        <div class="i-location">At: </div>
        <div class="i-actions">
          <div class="i-a i-a-yes">Yes</div>
          <div class="i-a i-a-maybe">Maybe</div>
          <div class="i-a i-a-no">No</div>
        </div>
      </div>
    </div>
  </div>
</div>