<div class="sender-mess-item__content">
  <div class="sender-mess-item__content_right">
    <img src="<%= message.user.avatar_url %>"/>
    <div class="sender-mess-item__text short-mess-text"><%= message.content %></div>
    </div>
</div>