<div class="sender-mess-item__content" style="">
  <div class="sender-mess-item__content_right">
    <div class="sender-mess-item__avatar item__avatar_right">
    </div>
  </div>
  <div class="sender-mess-item__content_right">
    <div class="sender-mess-item__text right-mess-text"><%= mes.content %></div>
  </div>
</div>