<div class="sender-mess-item__content">
  <div class="sender-mess-item__content_right">
    <div class="sender-mess-item__text short-mess-text" style="border-radius: 6px;">
      <div>Hi Toàn,<br><br>
        Base on your profile, I’d like to give you a small gift.  <br>
        We found 10 jobs  that you   maybe interested in.<br><br>
        Sincerely,<br>
        Lotus &amp; the Jobfinder Team<br>
        <a href="/appropriate_jobs" style="color: #2890ff;margin-top: 10px;float:  right;" target="_blank">View</a>
      </div>
    </div>
  </div>
</div>