<div class="container">
	<div class="x-new-recruiments">
		<div class="create-recruitment-steps">
			<div class="recruitment-step">
				<h3>
					Require
				</h3>
				<div class="recruitment-step-checked-require">
					<i class="fa fa-check fa-lg" aria-hidden="true"></i>
				</div>
			</div>
			<div class="recruitment-step">
				<h3>
					Describe
				</h3>
				<div class="recruitment-step-checked-des">
					<i class="fa fa-check fa-lg" aria-hidden="true"></i>
				</div>
			</div>
			<div class="recruitment-step step-active">
				<h3>
					Finish
				</h3>
			</div>
		</div>
	</div>
	<div class="step-content">
		<div class="st-left-content">
			<div>
				<h3>
					Step 3 of 3
				</h3>
			</div>
			<div class="x-st-left-content">
				<div class="tip-of-recruitment">
					<h3>
						Tips of Recruiting Employees	
					</h3>
					<span>Invest time in developing relationships with university placement offices, recruiters, and executive search firms.</span>
					<br><br>
					<span>Enable current staff members to actively participate in industry professional associations and conferences where they are likely to meet candidates you may successfully woo.</span>
					<div class="close-tip-button">
						<span>
							<i class="fa fa-times fa-lg" aria-hidden="true"></i>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="st-right-content">
			<div class="x-st-right-content">
				<div class="fill-company-informantion">
					<h3>Fill full your company information</h3>
					<span>Cong ty cua ban van con chua hoan thanh nhieu thong tin. Hay dien du de co the thu hut ung vien hon.</span>
					<div class="company-infor-button">
						<i class="fa fa-info" aria-hidden="true"></i>
					</div>
					<div class="fill-button">
						<span>
							<i class="fa fa-paper-plane" aria-hidden="true"></i>
							Let go!
						</span>
					</div>
				</div>
				<div class="progress-status">
					<div id="activeBorder" class="active-border">
		        <div id="circle" class="circle">
		            <span class="prec 270" id="prec">0<span style="font-size: 14px;">%</span>
		            </span>
		        </div>
		    	</div>
					<h3>Your Recruitment Completion</h3>
					<span style="color: #33CBA1">Finish step 2</span>
				</div>
			</div>
		</div>
	</div>
</div>