<li>
  <%= link_to "/conversations/" + conversation.id.to_s, class: "notification-item" do %>
    <div class="user-icon">
      <img src="<%= conversation.receiver.avatar_url %>"/>
    </div>
    <div class="message-content">
      <div class="user-name"><%= conversation.receiver.username%></div>
      <div class="message"><%=  %></div>
    </div>
  <% end %>
</li>
