<li>
  <%= link_to root_path, class: "notification-item" do %>
    <div class="user-icon">
      <img src="<%= conversation.receiver.avatar_url %>"/>
    </div>
    <div class="notification-content">
      <div class="notification-action">aaaa</div>
      <div class="time">bbb</div>
    </div>
  <% end %>
</li>
