<%= render "applies/form", job: job%>
<div class="r-c-content-jds" style="">
  <div class="cc-title-jds" style="color: #484848;display: -webkit-inline-box;margin-left: 12px;">
    <i class="fab fa-facebook-square" style="font-size: 17px;margin-right: 8px;color: #4267b2"></i>
    <div>
      Share on Facebook
    </div>
  </div>
</div>
<div class="r-c-content-jds" style="">
  <div class="cc-title-jds" style="color: #484848;display: -webkit-inline-box;margin-left: 12px;">
    <i class="fab fa-twitter" style="font-size: 17px;margin-right: 8px;color: #00aced"></i>
    <div>
      Share on Twitter
    </div>
  </div>
</div>
<div class="r-c-content-jds" style="">
  <div class="cc-title-jds" style="color: #484848;display: -webkit-inline-box;margin-left: 12px;">
    <i class="fab fa-linkedin" style="font-size: 17px;margin-right: 8px;color: #0077B5"></i>
    <div>
      Share on Linkedin
    </div>
  </div>
</div>