<div class="modal-hello-customer">
  <div class="fog-over">
    
  </div>
</div>
<div class="container">
   <div class="m--recruitment-content">
      <div class="recruitments">
        <div class="recruitment">
          <div class="new-recruitment">
             <div class="m--new-recruitment">
                <a href="/new_recruitment">
                   <span class="span-new-recruitment">New recuitment</span>
                </a>
             </div>
          </div>
        </div>
      </div>
      <div class="recruitments">
        <% 4.times do %>
          <div class="recruitment">
            <div class="m--recruitment">
              <div class="recruitment-title">
                  <h3>Senior PHP </h3>
                  <span>Arpl 13</span>
              </div>
              <div class="job-require-skills-list">
                <span>PHP</span>
                <span>ASW</span>
                <span>HTML, CSS</span>
              </div>
              <div class="candidates">
                <div class="candidate">
                  <img src="/images/avatar-test-1.jpg">
                </div>
                <div class="candidate">
                  <span></span>
                </div>
                <div class="candidate">
                  <span></span>
                </div>
              </div>
              <div class="recruitment-infor" style="color: #8FD5FE;">
                <div class="recruitment-bookmark">
                  <span>
                     <i class="fa fa-bookmark-o fa-lg" aria-hidden="true"></i>
                  </span>
                </div>
                <div class="recruitment-location">
                  <span>
                    <i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>
                  </span>
                </div>
                <div>
                  <span>
                    <i class="fa fa-cog fa-lg" aria-hidden="true"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
        <% end  %>
      </div>
   </div>
</div>