<script type="text/javascript">
  $(window).bind('scroll', function () {
    if ($(window).scrollTop() > 50) {
      $('.filter-items').addClass('fixed');
    } else {
      $('.filter-items').removeClass('fixed');
    }
});
</script>
<style type="text/css">
</style>
<div class="container" style="padding-top: 120px;">
  <div class="result-list-container">
    <%= render "search_box" %>
    <div class="results-list-card">
      <div class="ac-filter" style="padding-bottom: 5px;">
        <div class="filter-wireframe">
          <div class="solf-by">
            <div>
              <h3>Show <%= @jobs.count %> jobs</h3>
            </div>
          </div>
          <div class="filter-wireframe-icons-list">
            <div class="filter-icon grid-choice filter-choice-active">
              <i class="fa fa-th-large" aria-hidden="true"></i>
            </div>
            <div class="filter-icon list-choice ">
              <i class="fa fa-th-list" aria-hidden="true"></i>
            </div>
          </div>
        </div>
      </div>
      <div class="list-cards">
        <div class="list-center-content">
          <% if @jobs.present? %>
            <% @jobs.each do |job| %>
              <%= render 'job', job: job %>
            <% end %>
          <% end %>  
        </div>
      </div>  
    </div>
  </div>
</div>