<div class="container">
	<div class="x-new-recruiments">
		<h2 style="margin: 0;font-size: xx-large;color: #8FD5FE;">Post a new job</h2>
		<div class="create-recruitment-steps">
		</div>
	</div>
	<%= render 'form', job: @job  %>
	
</div>
<script type="text/javascript">
	$('.close-tip-button span .fa').click(function(){
		$('.tip-of-recruitment').hide();
	});
</script>
<%= render "/partials/footer"%>