<footer class="c-nav"> 
	<div class="c-nav--footer__menu">
		<div class="o-content-container">
			<a href="/">
				<img class="footer-logo" src="/assets/logo">
			</a>
			<nav class="c-footer-wrap" role="navigation">
				
				<div class="c-nav-footer__block">
					<span>COMPANY</span>
					<ul class="c-nav-footer__list">
						<li class="c-nav-footer__listitem">
							<a href="">About Us</a>
						</li>
						<li class="c-nav-footer__listitem">
							<a href="">Careers</a>
						</li>
						<li class="c-nav-footer__listitem">
							<a href="">Blog</a>
						</li>
						<li class="c-nav-footer__listitem">
							<a href="">Press</a>
						</li>
					</ul>
				</div>
				<div class="c-nav-footer__block">
					<span>PRODUCT</span>
					<ul class="c-nav-footer__list">
						<li class="c-nav-footer__listitem">
							<a href="">Why Jobfinder?</a>
						</li>
						<li class="c-nav-footer__listitem">
							<a href="">Enterprise</a>
						</li>
						<li class="c-nav-footer__listitem">
							<a href="">Customer Stories</a>
						</li>
						<li class="c-nav-footer__listitem">
							<a href="">Pricing</a>
						</li>
					</ul>
				</div>
				<div class="c-nav-footer__block">
					<span>RESOURCES</span>
					<ul class="c-nav-footer__list">
						<li class="c-nav-footer__listitem">
							<a href="">Download</a>
						</li>
						<li class="c-nav-footer__listitem">
							<a href="">Help Center</a>
						</li>
						<li class="c-nav-footer__listitem">
							<a href="">Guide</a>
						</li>
						<li class="c-nav-footer__listitem">
							<a href="">Partners</a>
						</li>
						<li class="c-nav-footer__listitem">
							<a href="">Events</a>
						</li>
					</ul>
				</div>
				<div class="c-nav-footer__block">
					<span>EXTRAS</span>
					<ul class="c-nav-footer__list">
						<li class="c-nav-footer__listitem">
							<a href="">Jobfinder Shop</a>
						</li>
						<li class="c-nav-footer__listitem">
							<a href="">Jobfinder at Work</a>
						</li>
						<li class="c-nav-footer__listitem">
							<a href="">Jobfinder Fun</a>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
</footer>