%header
  .app-icon
    %img{src: "/assets/teaser.png"}
  %nav
    %ul
      %li
        %a
          .a-item-content
            .a-center-content
              %span Sign up
      %li
        %a
          .a-item-content
            .a-center-content
              %span Login
      %li
        %a
          .a-item-content
            .a-center-content
              %span Become a employ
      %li
        %a
          .a-item-content
            .a-center-content
              %span Help
