%header
  .header-content
    .web-logo
      %a{href:'/'}
        %img{ src: '/assets/logo'}
    %nav
      %ul
        %li
          %a
            .a-item-content
              .a-center-content
                %span Why Jobfinder?
        %li
          %a
            .a-item-content
              .a-center-content
                %span Pricing
        %li
          %a
            .a-item-content
              .a-center-content
                %span About Us
        %li
          %a
            .a-item-content
              .a-center-content
                %span Become A Employ
        %li
          %a
            .a-item-content
              .a-center-content
                %span Signin
