<div class="step-one">
  <div class="step-icon step-active">
      <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>
  </div>
  <div class="c-step-content">
    <div class="step-status">
      Step 1
    </div>
    <div class="step-title">
      Setup your personal account
    </div>
  </div>
</div>
<div class="step-two">
  <div class="step-icon">
    <span>
      <i class="fa fa-paper-plane-o fa-2x" aria-hidden="true"></i>
    </span>
  </div>
  <div class="c-step-content">
    <div class="step-status">
      Step2
    </div>
    <div class="step-title">
      Choose your plan
    </div>
  </div>
</div>
<div class="step-three">
  <div class="step-icon">
    <span>
      <i class="fa fa-terminal fa-2x" aria-hidden="true"></i>
    </span>
  </div>
  <div class="c-step-content">
    <div class="step-status">
      Step 3
    </div>
    <div class="step-title">
      Tell us your experience
    </div>
  </div>
</div>
