<li>
  <div class="notification-item" id="">
    <div class="user-icon">
      <img src="<%= notification.actor.avatar_url %>"/>
    </div>
    <div class="notification-content">
      <div class="user-name"><%= notification.actor.username %></div>
      <div class="time"><%= time_ago_in_words(notification.created_at) %> ago</div>
    </div>
  </div>
</li>
