<div class="left-menu">
  <div class="sc-menu-items">
    <div class="menu-items">
      <div class="menu <%= page %>">
        <h3 style="padding: 9px 0 9px 18px;font-size: 17px;">Manage</h3>
        <a href="/">
          <div class="item jobs">
            <i class="fa fa-paper-plane fa-lg paper-plane"></i>
            <p>Jobs</p>
          </div>
        </a>
        <a href="/appliers">
          <div class="item appliers">
            <i class="fa fa-folder file"></i></i>
            <p>Appliers</p>
          </div>
        </a>
        <a href="/candidates">
          <div class="item candidate">
            <i class="fa fa-user user"></i>
            <p>Candidates</p>
          </div>  
        </a>
        <%= link_to interviews_path(ref: 'week')  do %>
          <div class="item meeting">
            <i class="fa fa-burn fa-lg burn"></i>
            <p>Interviews</p>
          </div>
        <% end %>
        <a href="/rc_messages">
          <div class="item rc-messages">
            <i class="fas fa-envelope mes"></i>
            <p>Messages</p>
          </div>
        </a>
      </div>
      <div class="menu">
        <h3 style="padding: 9px 0 9px 18px;font-size: 17px;">Setting</h3>
        <div class="item">
          <i class="fas fa-cog setting"></i>
          <p>Setting</p>
        </div>
        <div class="item ">
          <i class="fas fa-question-circle help"></i>
          <p>Help</p>
        </div>
      </div>
    </div>
  </div>
</div>