<div class="container">
  <div class="" style="padding-top: 120px;">
    <div class="jobs-list appropricate-jobs-list">
      <% @appropricate_jobs.each do |job| %>
        <%= render '/jobs/job', job: job %>
      <% end %>
    </div>
  </div>
</div>