<div class="container">
  <div class="" style="padding-top: 120px;">
    <div style="
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
    margin:  4px;
    margin-bottom: 20px;
    border-radius: 6px;
    background: linear-gradient(#3bdf61, #52dd8f);
    display:  flex;
">
<img src="images/gift.png" style="
    height: 51px;
    padding: 30px;
">
<div style="
    width: 100%;
">
<div style="
    padding-bottom: 12px;
    color: white;
    padding: 20px;
    padding-bottom: 12px;
    font-weight: 800;
    padding-left: 0;
    font-size: 21px;
">A GIFT</div>
    <div style="
    color:  white;
    font-size: 17px;
    font-weight: 600;
">Base on your profile, 
    <br>
    We found 10 jobs  that you   maybe interested in.
</div>
</div>
    </div>
    <div class="jobs-list appropricate-jobs-list">
      <% @appropricate_jobs.each do |job| %>
        <%= render '/jobs/job', job: job %>
      <% end %>
    </div>
  </div>
</div>