<div class="c-modal">
  <div class="modal-hello-customer">
    <div class="fog-over">
      <div class="modal-content">
        <div class="js-skip-hello-customer">
          <span class="skip-hello-customer">Skip</span>
        </div>
        <script type="text/javascript">
          $('.skip-hello-customer').click(function(){
            $('.c-modal').hide();
          });
        </script>
        <h3>Welcome toanmx0101,</h3>  
        <h3>to the Jobfinder</h3>
        <div class="intro-features">
          <div class="web-feature">
            <span class="feature-number">1.</span>
            <span>Chat with employer</span>
          </div>
          <div class="web-feature second">
            <span class="feature-number">2.</span>
            <span>Manager your date</span>
          </div>
          <div class="web-feature third">
            <span class="feature-number">3.</span>
            <span>Show your amazing profile</span>
          </div>
          <div class="web-feature fourth">
            <span class="feature-number">4.</span>
            <span>Suggest best apropriate job for you</span>
          </div>
        </div>
        <div class="intro-features-derect-link">
          <div class="apropriate-jobs-link">
            <a href="/appropriate_jobs">See all appropriate job for me</a>
          </div>
          <div class="search-jobs-link">
            <a href="/">Search job by keywork</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="left-menu">
    <div class="sc-menu-items">
      <div class="menu-items">
        <div class="menu">
          <div class="item active">
            <span><i class="fa fa-home fa-lg"></i></span>
          </div>
          <div class="item">
            <span><i class="fa  fa-th-list  fa-lg"></i></span>
          </div>
          <div class="item ">
            <span><i class="fa fa-address-card fa-lg"></i></span>
          </div>
          <div class="item ">
            <span><i class="fa fa-folder"></i></i></span>
          </div>
        </div>
        <div class="bottom">
          <div class="c-bottom">
            <div class="bottom-item">
              <span><i class="fa fa-question-circle fa-lg"></i></span>
            </div>
          </div>
        </div>
          
      </div>
    </div>
  </div>
  <div class="right-container">
  </div>
</div>
<div class="container">
  <div class="m--recruitment-content">
    <div class="recruitments">
      <% @jobs.each  do |job| %>
        <%= link_to job, class: 'recruitment' do %>
          <div class="m--recruitment">
            <div class="recruitment-title">
                <h3><%= job.title%></h3>
                <span><%= job.created_at%></span>
            </div>
            <div class="candidates">
              <div class="candidate">
                <img src="/images/avatar-test-1.jpg">
              </div>
              <div class="candidate">
                <img src="/images/avatar-test-2.jpg">
              </div>
              <div class="candidate">
                <img src="/images/avatar_test_3.jpg">
              </div>
              <div class="candidate">
                <span></span>
              </div>
            </div>
            <div class="recruitment-infor" styple="color: #8FD5FE;width: calc(100% - 24px);">
              <div style="float: right;">
                <span>
                  <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
                </span>
              </div>
              
            </div>
          </div>
        <% end  %>  
      <% end  %>
    </div>
  </div>
</div>