<div class="content" style="padding-top: 60px">
    <img src="images/feedback.jpeg" style="height: 300px;width: 100%">
    <div class="container">
      <div class="feedback-header">
        <h2 style="font-size: 30px;">
          <span>Customer feedbacks.</span>
        </h2>
      </div>
      <div class="row">
        <div class="col-md-3" style="margin: 50px 10px 70px;width: 30%;display: inline-block;vertical-align: top;">
          <div class="feed-back-form">
            <h3><span>Your feedback</span></h3>
            <form class="form-horizontal" role="form">
              <div class="form-beet">
                <input placeholder="Tên của bạn" class="beet-form-input " name="" value="" type="text">
              </div>
              <div>
                <textarea placeholder="Nội dung phản hồi" class="beet-form-input " name="" value="" type="text" rows="6"></textarea>
              </div>
              <button class="btn-submit-feedback "><span>Gửi</span></button>
            </form>
          </div>
        </div>
        <div class="col-md-9" style="
    width: 65%;
    display: inline-block;
">
          <div class="row">
            <div class="col-md-6" style="
    width: 49%;
    display: inline-block;
    vertical-align: top;
">
              <div class="feedback-list">
                <div class="feedback-item">
                  <div class="feedbacker-name">
                    <h3>
                      <span>Mr Orio - Aplr 20</span>
                    </h3>
                  </div>
                  <div class="feedback-content">
                    <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                  </div>
                </div>
                <div class="feedback-item">
                  <div class="feedbacker-name">
                    <h3>
                      <span>Mr Orio - Aplr 20</span>
                    </h3>
                  </div>
                  <div class="feedback-content">
                    <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</span>
                  </div>
                </div>
                <div class="feedback-item">
                  <div class="feedbacker-name">
                    <h3>
                      <span>Mr Orio - Aplr 20</span>
                    </h3>
                  </div>
                  <div class="feedback-content">
                    <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </span>
                  </div>
                </div>
                <div class="feedback-item">
                  <div class="feedbacker-name">
                    <h3>
                      <span>Mr Orio - Aplr 20</span>
                    </h3>
                  </div>
                  <div class="feedback-content">
                    <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6" style="
    width: 50%;
    display: inline-block;
">
              <div class="feedback-list">
                <div class="feedback-item">
                  <div class="feedbacker-name">
                    <h3>
                      <span>Mr Orio - Aplr 20</span>
                    </h3>
                  </div>
                  <div class="feedback-content">
                    <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </span>
                  </div>
                </div>
                <div class="feedback-item">
                  <div class="feedbacker-name">
                    <h3>
                      <span>Mr Orio - Aplr 20</span>
                    </h3>
                  </div>
                  <div class="feedback-content">
                    <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </span>
                  </div>
                </div>
                <div class="feedback-item">
                  <div class="feedbacker-name">
                    <h3>
                      <span>Mr Orio - Aplr 20</span>
                    </h3>
                  </div>
                  <div class="feedback-content">
                    <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </span>
                  </div>
                </div>
                <div class="feedback-item">
                  <div class="feedbacker-name">
                    <h3>
                      <span>Mr Orio - Aplr 20</span>
                    </h3>
                  </div>
                  <div class="feedback-content">
                    <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
<%= render "/partials/footer"%>
