<div class="x-container">
  <div class="xx-container">
    <div class="container" style="position: relative;">
      <div class="home-center">
        <section>
          <h2>A great workplace combines
          <br>exceptional colleagues and hard
          <br>problems.</h2>
        </section>
      </div>
      <div class="home-image">
        <img src="images/home_hello.png">
      </div>
      <a href="/login">
        <div class="get-started">
          <div class="x-get-started">
            <span>Get started</span>
            <p>Already using Jobfinder?
            <a href="/join">Signup</a>
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
<%= render "/partials/footer"%>
