<div class="x-container">
  <div class="xx-container">
    <div class="container" style="position: relative;">
      <div class="home-center">
        <section>
          <h2>A great workplace combines 
          <br>exceptional colleagues and hard 
          <br>problems.</h2>
        </section>
      </div>
      <div class="home-image">
        <img src="images/home_hello.png">
      </div>
      <div class="get-started">
        <div class="x-get-started">
          <span>Get started</span>
          <p>Already using Jobfinder? 
          <a href="/join">Signup</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  
  
</div><br><br><br><br><br>

<div class="left">
  <div class="container">
    <div class="widget-content">
      <div class="row" style="display: flex;">
        <div class="column-left" style="padding: 0 15px;">
          <div class="content">
            <div class="content-desc">
              <div class="content-title">
                <h5 style="color:#008998; text-transform: uppercase;">Sitecore Experience Platform</h5>
                <h3>Content management combined with deep customer insight</h3>
              </div>
              <p>The Sitecore Experience Platform (XP) combines the content management power of our market-leading CMS with contextual insights from the Sitecore® Experience Database™ (xDB).</p>
            </div>
            <a class="content-link link link_arrow" href="/products/sitecore-experience-platform">Learn more about Sitecore Experience Platform</a>    
          </div>
        </div>
        <div class="right" style="padding: 0 15px;">
          <div class="column-image">
            <a href="/products/sitecore-experience-platform"><img src="/images/landing_image_one.jpg" alt="Sitecore Experience Platform" width="550" svgimg="1"></a>      
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="left">
  <div class="container">
    <div class="widget-content">
      <div class="row" style="display: flex;">
        <div class="right" style="padding: 0 15px;">
          <div class="column-image">
            <a href="/products/sitecore-experience-platform"><img src="/images/landing_image_three.jpg" alt="Sitecore Experience Platform" width="550" svgimg="1"></a>      
          </div>
        </div>
        <div class="column-left" style="padding: 0 15px;">
          <div class="content">
            <div class="content-desc">
              <div class="content-title">
                <h5 style="color:#008998; text-transform: uppercase;">Sitecore Experience Platform</h5>
                <h3>Content management combined with deep customer insight</h3>
              </div>
              <p>The Sitecore Experience Platform (XP) combines the content management power of our market-leading CMS with contextual insights from the Sitecore® Experience Database™ (xDB).</p>
            </div>
            <a class="content-link link link_arrow" href="/products/sitecore-experience-platform">Learn more about Sitecore Experience Platform</a>    
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="left">
  <div class="container">
    <div class="widget-content">
      <div class="row" style="display: flex;">
        <div class="column-left" style="padding: 0 15px;">
          <div class="content">
            <div class="content-desc">
              <div class="content-title">
                <h5 style="color:#008998; text-transform: uppercase;">Sitecore Experience Platform</h5>
                <h3>Content management combined with deep customer insight</h3>
              </div>
              <p>The Sitecore Experience Platform (XP) combines the content management power of our market-leading CMS with contextual insights from the Sitecore® Experience Database™ (xDB).</p>
            </div>
            <a class="content-link link link_arrow" href="/products/sitecore-experience-platform">Learn more about Sitecore Experience Platform</a>    
          </div>
        </div>
        <div class="right" style="padding: 0 15px;">
          <div class="column-image">
            <a href="/products/sitecore-experience-platform"><img src="/images/landing_image_two.jpg" alt="Sitecore Experience Platform" width="550" svgimg="1"></a>      
          </div>
        </div>
      </div>
    </div>
  </div>
</div>