<div class="x-container">
	<div class="xx-container">
		<div class="container" style="position: relative;">
			<div class="home-center">
				<section>
					<%= form_tag search_path, method: 'get' do %>
					  <%= text_field_tag :q, params[:q], placeholder: 'Search job by keyword'  %>
					<% end %>
					<h2>A great workplace combines 
					<br>exceptional colleagues and hard 
					<br>problems.</h2>
				</section>
			</div>
			<div class="home-image">
				<img src="/assets/home_hello.png">
			</div>
			<div class="get-started">
				<div class="x-get-started">
					<span>Get started</span>
					<p>Already using Jobfinder? 
					<a href="/join">Signup</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>


