<%= render "dashboard_left_menu", page: "meeting" %>
<div class="right-container">
  <div class="m--recruitment-content ">
    <div class="recruitments">
      <div class="c-appliers-header" style="margin-bottom: 26px;display: block;">
        <div class="filter-header">
          <div style="margin: auto 0; display: flex;">
            <h3 style="font-size: 18px;margin: 0; padding: 8px;">Interviews</h3>
            <%= link_to interviews_new_path  do %>
              <div style="cursor: pointer;margin: auto 12px; padding: 6px 12px;background: #2890ff;color: white;border-radius: 3px;text-decoration: none;">
                <i class="fas fa-plus" style="font-size: 9px;margin-right: 4px;"></i>
                Create new                
              </div>
            <% end %>
          </div>
          <div class="filter-appliers">
            <div class="fitler">
              <div style="border-left: 1px solid #D4D4D9;border-radius: 3px 0 0 3px;background: #2890ff;color: white">Day</div>
              <div>Week</div>
              <div style="border-radius: 0 3px 3px 0">Month</div>
            </div>
          </div>
        </div>
      </div>
      <div class="c-interviews">
        <ul class="c-it-content">
            <li class="day-interviews">
              <div class="it-content">
                <div class="itv-day-header">
                  <div class="day">01</div>
                  <div style="">Sunday</div>
                </div>
                <div class="line "></div>
                <div class="list-interviews-in-days">
                  <div class="item">
                    <div class="content">
                      <div class="interview-time">11:00 - 13:00</div>
                      <div class="title">Daily report</div>
                      <div class="actions">
                        <i class="fas fa-link"></i>
                        <i class="far fa-user"></i>
                        <i class="fas fa-pencil-alt"></i>
                        <i class="far fa-envelope"></i>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="content">
                      <div class="interview-time">11:00 - 13:00</div>
                      <div class="title">Daily report</div>
                      <div class="actions">
                        <i class="fas fa-link"></i>
                        <i class="far fa-user"></i>
                        <i class="fas fa-pencil-alt"></i>
                      </div>
                    </div>
                  </div>
                  <div class="item" style="margin-bottom: 0">
                    <div class="content">
                      <div class="interview-time">11:00 - 13:00</div>
                      <div class="title">Daily report</div>
                      <div class="actions">
                        <i class="fas fa-link"></i>
                        <i class="far fa-user"></i>
                        <i class="fas fa-pencil-alt"></i>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </li>
            <li class="day-interviews">
              <div class="it-content">
                <div class="itv-day-header">
                  <div class="day">02</div>
                  <div style="">Monday</div>
                </div>
                <div class="line today"></div>
                <div class="list-interviews-in-days">
                  <div class="item">
                    <div class="content">
                      <div class="interview-time">11:00 - 13:00</div>
                      <div class="title">Daily report</div>
                      <div class="actions">
                        <i class="fas fa-link"></i>
                        <i class="far fa-user"></i>
                        <i class="fas fa-pencil-alt"></i>
                        <i class="far fa-envelope"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="day-interviews">
              <div class="it-content">
                <div class="itv-day-header">
                  <div class="day">03</div>
                  <div style="">Tuesday</div>
                </div>
                <div class="line"></div>
                <div class="list-interviews-in-days">
                  <div class="item">
                    <div class="content">
                      <div class="interview-time">11:00 - 13:00</div>
                      <div class="title">Daily report</div>
                      <div class="actions">
                        <i class="fas fa-link"></i>
                        <i class="far fa-user"></i>
                        <i class="fas fa-pencil-alt"></i>
                        <i class="far fa-envelope"></i>
                      </div>
                    </div>
                  </div>
                  <div class="item">
                    <div class="content">
                      <div class="interview-time">11:00 - 13:00</div>
                      <div class="title">Daily report</div>
                      <div class="actions">
                        <i class="fas fa-link"></i>
                        <i class="far fa-user"></i>
                        <i class="fas fa-pencil-alt"></i>
                        <i class="far fa-envelope"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="day-interviews">
              <div class="it-content">
                <div class="itv-day-header">
                  <div class="day">04</div>
                  <div style="">Wednesday</div>
                </div>
                <div class="line"></div>
                <div class="list-interviews-in-days">
                </div>
              </div>
            </li>
            <li class="day-interviews">
              <div class="it-content">
                <div class="itv-day-header">
                  <div class="day">05</div>
                  <div style="">Thursday</div>
                </div>
                <div class="line"></div>
                <div class="list-interviews-in-days">
                </div>
              </div>
            </li>
        </ul>
      </div>
    </div>
  </div>
</div>
