<%= render "dashboard_left_menu", page: "meeting" %>
<div class="right-container">
  <div class="m--recruitment-content ">
    <div class="recruitments">
      <div class="c-appliers-header" style="margin-bottom: 26px;display: block;">
        <div class="filter-header">
          <div style="margin: auto 0; display: flex;">
            <h3 style="font-size: 18px;margin: 0; padding: 8px;">Interviews</h3>
            <div style="cursor: pointer;margin: auto 12px; padding: 6px 12px;background: #2890ff;color: white;border-radius: 3px;">
              <i class="fas fa-plus" style="font-size: 9px;margin-right: 4px;"></i>
              Create new
            </div>
          </div>
          <div class="filter-appliers">
            <div class="fitler">
              <div style="border-left: 1px solid #D4D4D9;border-radius: 3px 0 0 3px;background: #2890ff;color: white">Day</div>
              <div>Week</div>
              <div style="border-radius: 0 3px 3px 0">Month</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>