<div class="container">
  <div class="settings">
    <div class="settings-menu">
      <div class="settings-menu-header">
        <h2>Settings</h2>
      </div>
      <div class="setting profile-setting  is-active ">
        <i class="fas fa-user-circle fa-2x"></i>
        <div class="c-profile-setting">
          <h3>General Details</h3>
          <span>Change the name,update your skills, education</span>
        </div>
      </div>
      <div class="setting profile-setting">
        <i class="fas fa-unlock-alt fa-2x"></i>
        <div class="c-profile-setting">
          <h3>Password</h3>
          <span>Change your password</span>
        </div>
      </div>
      <div class="setting profile-setting">
        <i aria-hidden="true" class="fa fa-flag fa-2x" style=";"></i>
        <div class="c-profile-setting">
          <h3>Notifications</h3>
          <span>Change the name,update your skills, education</span>
        </div>
      </div>
      <div class="setting profile-setting">
        <i aria-hidden="true" class="fa fa-paper-plane fa-2x" style=";"></i>
        <div class="c-profile-setting">
          <h3>Plan</h3>
          <span>Change the name,update your skills, education</span>
        </div>
      </div>
      
       <div class="setting profile-setting">
        <i class="far fa-comment-alt fa-2x"></i>
        <div class="c-profile-setting">
          <h3>Messages</h3>
          <span>Change the name,update your skills, education</span>
        </div>
      </div>
    </div>
    <div class="settings-content">
      <div class="c-settings-content">
        <div>
          <h3>Change password</h3>  
          <span>Change</span>
        </div>
        <div class="form-change-password">
          <span>Current Password</span>
          <input type="text" name="">
          <span>New password</span>
          <input type="text" name="">
          <span>Confirm new password</span>
          <input type="text" name="">
          <div class="form-submit" style="margin-top: 14px;">
            <span>Submit</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('.setting').click(function(){
    $('.setting').removeClass('is-active');
    $(this).addClass('is-active');
  });
</script>