.c-modal {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  margin: auto;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 2;
  display: none;
}
.modal-hello-customer {
  height: 550px;
  width: 800px;
  border-radius: 17px;
  border: none;
  background-image: url('/images/preview.png');
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  transition: .4s, box-shadow .3s .4s;
  box-shadow: 5px 0 20px 5px rgba(0,0,0,.1);
  margin: auto;
  z-index: 1;
  .fog-over {
    position: absolute;
    height: 550px;
    width: 800px;
    top: 0; bottom: 0;
    left: 0; right: 0;
    z-index: 2;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.92);
  }
}
.modal-content {
  height: inherit;
  padding: 36px;
  position: relative;
  h3 {
    font-size: xx-large;
    font-weight: 600;
  }
  .skip-hello-customer {
    position: absolute;
    margin: 22px;
    padding: 10px 30px;
    border: 1px solid #DDD;
    border-radius: 21px;
    right: 0;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 1px;
    &:hover {
      background-color: #f4f4f4;
      border: 1px solid #f4f4f4;
      box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
    }
  }
  .intro-features {
    padding-top: 47px;
    padding-left: 40px;
  }
  .web-feature {
    padding: 10px;
    span {
      font-size: x-large;
      margin-left: 7px;
    }
    .feature-number {
      font-size: 32px;
      margin: 0;
    }
    &.second {
      margin-left: 70px;
    }
    &.third {
      margin-left: 140px;
    }
    &.fourth {
      margin-left: 210px;
    }
  }
  .intro-features-derect-link {
    margin-top: 40px;
    display: flex;
    .apropriate-jobs-link, .search-jobs-link  {
      padding: 12px;
      font-size: 15px;
      font-weight: 500;
      box-shadow: 0 2px 5px rgba(#000, .10);
      border-radius: 3px;
      background-color: white;
      margin-right: 17px;
      transition: all .6s ease;

      &:hover {
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
      }
      a {
        text-decoration: none;
        font-weight: bolder;
        color: #8FD5FE;
      }
    }
  }
}
.m--recruitment-content { 
    padding-top: 140px;
    padding-left: 160px;
    padding-right: 310px;
    height: -webkit-fill-available;
}

@media only screen and (min-width: 1200px) and (max-width: 1600px) {
  .m--recruitment-content { 
    padding-top: 100px;
    padding-left: 60px;
    padding-right: 60px;
    height: -webkit-fill-available;
  }
  .menu-items {
    padding-top: 30px!important;
  }

}
.recruitments {
  width: 100%;
  display: block;
  .c-cruitment {
    display: block;
  }
  .c-candidate {
    width: 30%;
    display: inline-block;
    margin-top: 27px;
    margin-left: 45px;
    .candidate {
      position: relative;
      padding: 14px;
      box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
      margin: 13px;
      cursor: pointer;
      margin-bottom: 30px;
      .user-avatar {
        img {
          width: 60px;
          height: 60px;
          position: absolute;
          top: -16px;
          right: 15px;
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
        }

      }
      .user-name {
        color: #5897fbb8;
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 12px;
      }
      .work-position {
        margin-bottom: 5px;
      }
      .current-company {
        margin-bottom: 10px;
      }
      .view-profile {
        border-radius: 2px;
      }
    }
  }
  .recruitment {
    display: block;
    text-decoration: none;
    width: 100%;
    h2 {
      color: #5897fbb8;
      font-size: 18px;
    }
    .m--recruitment, .new-recruitment {
      background: #FFF;
      position: relative;
      height: 140px;
      margin: 13px;
      padding: 10px;
      padding-left: 14px;
      box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
      cursor: pointer;
      border-radius: 4px;
      &.selected {
        background: #f3f6f8;
      }
      &:hover {
        .recruitment-infor {
          visibility: visible;
          opacity: 1;
        }
      }
      .candidates {
        margin: 10px 0;
        position: absolute;
        bottom: 0;
        .candidate {
          display: inline-block;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          margin-right: 3px;
          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.32)
          }

        }
      }
      .recruitment-infor {
        visibility: visible;
        opacity: 1;
        position: absolute;
        bottom: 10px;
        left: 13px;
        transition: visibility 0s, opacity 0.7s linear;
        .recruitment-bookmark, .recruitment-location {
          span { padding: 5px 7px; }
        }
        div { display: inline-block; }
        span {
          padding: 9px 28px;
          font-size: 15px;
        }
      }
    }
    .new-recruitment { background: #F7F8F9; }
    .job-require-skills-list {
      span {
        display: inline-block;
        padding: 8px 15px;
        border: 1px solid #484848;
        margin-top: 4px;
      }
    }
    .m--new-recruitment {
      text-align: center;
      line-height: 228px;
      &:hover {
        span {
          background: #8FD5FE;
          color: #FFF;
        }
      }
      a { text-decoration: none; }
      span {
        padding: 10px 25px;
        font-weight: bold;
        font-size: 15px;
        background: #FFF;
        /* color: #FFF; */
        border-radius: 23px;
        box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
        transition: all .6s ease;
      }
    }
    .recruitment-title {
      margin-top: 5px;
      h3 { margin: 0;   }
    }
  }
}


.left-menu {
  width: 250px;
  margin-top: 60px;
  height: 100%;
  position: fixed;
  background: #FFF;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  z-index: 2;
  display: flex;
  flex-direction: row;
  a {
    text-decoration: none;
  }
  .sc-menu-items {
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 250px;
    display: flex;
    .menu-items {
      display: flex;
      flex-direction: column;
      padding-top: 150px;
      width: 100%;
      margin-left: 19px;
      .menu {
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
      }
      .applyers {
        .appliers {
          .fa, .far, .fas {
            color: #8FD5FE;
          }
          p {
            border-right: 2px solid #8FD5FE;
            color: #5897fbb8;
          }
        }
      }
      .recruitments {
        .jobs {
          .fa, .far, .fas {
            color: #8FD5FE;
          }
          p {
            border-right: 2px solid #8FD5FE;
            color: #5897fbb8;
          }
        }
      }
      .candidate {
        .candidate {
          .fa, .far, .fas {
            color: #8FD5FE;
          }
          p {
            border-right: 2px solid #8FD5FE;
            color: #5897fbb8;
          }
        }
      }
      .meeting {
        .meeting {
          .fa, .far, .fas {
            color: #8FD5FE;
          }
          p {
            border-right: 2px solid #8FD5FE;
            color: #5897fbb8;
          }
        }
      }
      .rc-messages {
        .rc-messages {
          .fa, .far, .fas {
            color: #8FD5FE;
          }
          p {
            border-right: 2px solid #8FD5FE;
            color: #5897fbb8;
          }
        }
      }
      .bottom {
        align-self: center;
        -webkit-box-flex: 0;
        flex-grow: 0;
        .c-bottom {
          flex-shrink: 0;
          height: 126px;
          opacity: 1;
          transition: height 200ms, opacity 200ms;
        }
      }
      .item {
        flex-shrink: 0;
        opacity: 1;
        transition: height 200ms, opacity 200ms;
        padding: 9px 0 9px 18px;
        cursor: pointer;
        display: flex;
        position: relative;
        &:hover {
         .fa, .far, .fas {
            color: #8FD5FE;
          }
        }
      }
      .item, .bottom-item {
        .fa, .fas, .far {
          color: #ACACAC;
          font-size: 15px;
        }
        .paper-plane {
          font-size: 14px;
          position: absolute;
          top: 16px;
        }
        .burn {
          position: absolute;
          top: 14px;
          font-size: 17px;
        }
        .file {
          position: absolute;
          top: 12px;
        }
        .setting {
          font-size: 15px;
          position: absolute;
          top: 12.5px;
        }
        .help {
          font-size: 16px;
          position: absolute;
          top: 12.5px;
        }
        .user {
          position: absolute;
          top: 12px;
        }
        .mes {
          position: absolute;
          top: 13px;
        }
        p {
          margin: 0;
          padding: 3px;
          margin-left: 28px;
          font-size: 15px;
          width: 100%;
        }
      }
      .active {
        .fa, .far, .fas {
          color: #8FD5FE;
        }
        p {
          border-right: 2px solid #8FD5FE;
          color: #5897fbb8;
        }
      }
      .bottom-item {
        align-self: center;
        -webkit-box-flex: 0;
        flex-grow: 0;
        padding: 18px;
        cursor: pointer;
        .fa {
          font-size: 1.4333333rem;
        }
      }
    }
  }
}
.right-container {
  width: calc( 100% - 250px );
  height: auto;
  position: absolute;
  right: 0;
  background: #FAFAFA;
}
.filter-header {
  display: flex;
  .title {
    width: 100%;
  }
  .filter-and-create-new {
    display: flex;
    a {
      text-decoration: none;
    }
    .pages-job {
      width: 60px;
        position: relative;
          padding: 8px;
    margin-right: 25px;
      .next, .prev {
      }
      .fas {
        position: absolute;
        font-size: 20px;
        color: #ACACAC;
        top: 7px;
      }
      .fa-angle-left {
        left: -11px;
      }
      .fa-angle-right {
        right: 3px;
      }
    }
    .filter {
      position: relative;
      box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
      display: flex;
      background: #FFF;
      cursor: pointer;
      padding: 8px 14px 8px 23px;
      border-radius: 3px;
      margin-right: 6px;
      i, p {
      }
      i {
        position: absolute;
        top: 9px;
        left: 9px;
      }
      div {
        margin: 0 5px;
        font-weight: 600;
      }
      .create-job {
        width: 96px;
        color: #FFF;
      }
      .fa-plus {
        top: 10px;
        left: 11px;
        color: #FFF;
      }
    }
    .create-new {
      background: #2890ff;;
    }
  }
}
.filter-header {
  .filter {
    .dropdown-filter {
      position: absolute;
      top: 37px;
      right: -7px;
      box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
      background: #FFF;
      border-radius: 2px;
      width: 160px;
      height: inherit;
      z-index: 10;
      display: none;
      div {
        padding: 12px;
        margin: 0;
        &:hover {
          background: #f9f9f9
        }
      }
    }
  }
  .active-filter {
    .dropdown-filter {
      display: block;
    }
  }
}
.table-header {
  margin-top: 12px;
  color: #ACACAC;
}
.table-header, .table-recruitments {
  display: flex;
  padding: 12px;

  .id {
    width: 5%
  }
  .title {
    width: 27%;
  }
  .status {
    width: 12%;
  }
  .publish {
    width: 12%;
  }
  .end {
    width: 12%;
  }
  .description {
    width: 20%;
  }
  .views {
    width: 10%;
  }
  .setting {
  }
  .description , .title {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 6px;
  }
}
.table-recruitments {
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
  background: #FFF;
  border-radius: 4px;
  margin-bottom: 6px;
  cursor: pointer;
  .views {
  }
}
.grow { 
}

.grow:hover { background: #f6f9fc; }
.c-cruitment {
  .short-details {
    display: none;
    background: #FFF;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 6px;
    border-radius: 4px;
    padding: 12px;
    .recruiment-short-details {
      display: flex;
      height: 100%;
      .basic-infor, .candidates, .applyers {
        width: 33%;
        
      }
      .applyers, .basic-infor, .candidates {
        display: inline-block;
        margin-right: 12px;
        h3 {
          margin: 0;
          margin-bottom: 5px
        }
      }
    }
  }
}
.applyer-item-da {
  padding: 0 !important;
  border: 1px solid #dddddd61;
  border-radius: 6px;
  margin-bottom: 3px;
  .user-icon {
    cursor: pointer;
  }
  .message-content {
    .user-name {
      width: fit-content;
      font-size: 15px;
      cursor: pointer;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .act-message {
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    .fas, .far {
      font-size: 1.33333em;
    }
    &:hover {
      .fas, .far {
        color: #8FD5FE !important;
      }
    }
  }
}
.basic-infor {
  .fas {
    margin-right: 8px;
  }
  .fa-map-pin {
    margin-right: 9px;
  }
  .description {
    cursor: default;
  }
}
.candidates {
  margin-right: 6px;
}
.dashboard-table-recruitments {
  &.selected {
    .short-details {
      display: block;
    }
    .table-recruitments {
      background: #f6f9fc;
    }
  }
}
.dashboard-table-recruitments {
  .fas, .far {
    color: #717274;
  }
}
.multi-notify {
  right: -12px!important;
}
.rc-avatar {
  height: 42px;
  padding: 9px 0 9px 9px;
  img {
    height: 42px;
    border-radius: 12px;
  }
}
.c-appliers {
  display: flex;
  .applier {

    width: 30%; 
    margin: 3px;
    display: inline-block;
    background: white;
    border-radius: 6px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
    .applier-info {
      padding: 12px 16px;
      border-bottom: 1px solid #EEE;
      padding-bottom: 6px;
      display: flex;
      .user-name {
        font-size: 15px;
        text-decoration: none;
      }
      .email {
      }
      .user{
        width: 100%;
      }
    }
    .job, .meeting-time, .view-details {
      padding: 10px 16px;
    }
    .user-avatar {
      height: 42px;
      display: inline-block;
      margin-right: 10px;
      img {
        border-radius: 50%;
        height: 42px;
      }
      .far {
        color: #8FD5FE;
      }
    }
    .user {
      display: inline-block;
      vertical-align: top;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      .email {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
    .job {
      border-bottom: 1px solid #EEE; 
      text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden; 
      .title {
        margin-bottom: 6px;
        font-size: 15px;
        
        text-decoration: none;
      }
    }
    .meeting-time {
      border-bottom: 1px solid #EEE;  
    }
    .view-details {
      text-align: center;
      cursor: pointer;
      border-radius: 0 0 6px 6px;
      &:hover {
        background: #5897fbb8;
        color: #FFF
      }
    }
    .applier-actions {
      margin-top: 4px;
      div {
        display: inline-block;
        cursor: pointer;
        margin-right: 4px;
      }
    }
    .applyer-list {
      height: 41px;
      display: flex;
      .user-avatar {
        height: 36px;
        margin-right: 0;
        border: 2px solid #fa967c;
        border-radius: 50%;
        margin-right: -5%;
        img{
          height: 36px;
        }
      }
    }
  }
}
.c-appliers-header {
  .filter-header {
    display: flex;
    justify-content: space-between;
  }
  display: flex;
  .filter-appliers {
    display: flex;

    .fitler {
      display: flex;
      margin: auto;
      .all {
        padding: 6px 12px;
        border-radius: 3px;
        border: 1px solid #D4D4D9;
        margin-right: 12px
      }
      div {
        padding: 6px 12px;
        border: 1px solid #D4D4D9;
        border-left: 0;
        cursor: pointer;
      }
      .selected {
        color: white;
        background: #2890ff;
      }
    }
  }
}