@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,700,900');
body, input {
  background-color: #fff;
  color: #484848;
  font-family: 'Raleway', sans-serif;
}
header {
  height: 60px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
}
body, ol, td {
  font-size: 13px;
  line-height: 18px;
}
body, ul {
  margin: 0;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }

th { padding-bottom: 5px; }

td { padding: 0 5px 7px; }

div.field,
div.actions { margin-bottom: 10px; }
.container {
  width: 1080px;
  margin: 0 auto;
}
#notice { color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

label { display: block; }
ul {
  display: table;
  height: 48px;
}
li {
  height: 100%;
  line-height: 46px;
  display: table-cell;
  font-family: 'Raleway', sans-serif;
}
.a-item-content {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
.a-item-content .account-dropdown {
  display: none;
  position: absolute;
  right: 10px;
  top: 50px;
  z-index: 1000;
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
}

.account-dropdown ul {
  padding: 0;
  padding-top: 7px;
  width: 200px;
  height: 200px;
}
.account-dropdown ul li { 
  height: 38px;
  line-height: 38px;
  display: block;
}
.account-dropdown ul li:hover {
  background: #f9f9f9;
}
.account-dropdown ul li a {
  padding: 0 17px;
  text-decoration: none;
  width: 100%;
}
.a-center-content {
  vertical-align: middle;
  font-size: 15px;
  color: #717274;
  line-height: 60px;
  font-weight: bold;
}
.app-icon {
  float: left;
}
.app-icon img {
  width: 30px;
  height: 30px;
}
.header-content nav {
  display: table-cell;
  vertical-align: middle;
  float: right;
  position: absolute;
  right: 0;
}
.a-center-content a {
  padding: 0px 16px;
  border-radius: 3px;
  text-decoration: none;
  color: #717274;
}
.a-center-content a .li-title {
  padding: 6px 10px;
  border-radius: 3px;
  border: 2px solid transparent;
}
.a-center-content a i:hover {
  color: #8FD5FE;
}
.a-center-content a i {
  position: relative;
}
.a-center-content a i span {
  position: absolute;
  font-weight: 600;
  right: -8px;
  top: -17px;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  color:  #8FD5FE;
}
.a-center-content a .li-title:hover {
  border: 2px solid #8FD5FE;
}
.header-content {
  margin: 0 60px;
  height: 100%;
  display: flex;
  position: relative;
}
.web-logo {
  display: inline-block;
  cursor: pointer;
}
.web-logo img {
  width: 60px;
  height: 60px;
}
.web-logo form, a {
  display: inline-block;
}
.web-logo form input {
  border: 0;
}
.form-search-header {
  width: 300px;
  height: 100%;
  vertical-align: middle;
  padding: 0 10px;
  display: inline-block;
}
.asd {
  vertical-align: middle;
  line-height: 60px;
  box-sizing: border-box;
  height: 100%;
}
.asd form  input {
  font-size: 15px;
  border: 0;
  border-bottom: 1px solid #717274;
  outline: none;
  width: 100%;
  padding: 4px;
  box-sizing: border-box;

}
.asd form  input:focus { 
  border-bottom: 2px solid #717274;
}
.c-nav {
  border-top: 1px solid #ebebeb;
  width: 100%;
  margin-top: 60px;
  padding: 0;
}
.c-nav--footer__menu {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.o-content-container {
  max-width: 76.875rem;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  box-sizing: inherit;
}
.c-nav-footer__list {
  display: grid;
  padding: 0; 
}
.c-nav-footer__block span{
  font-weight: 600;
  font-size: 16px;
}
.c-nav-footer__listitem a {
  text-decoration: none;
  font-size: 14px;
}
.footer-logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15)
}
.show {display:block;}