@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,700,900');
body, input {
  background-color: #fff;
  color: #484848;
  font-family: 'Raleway', sans-serif;
}
header {
  height: 60px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
  z-index: 3;
  position: fixed;
  width: 100%;
  background: #FFF;
}
body, ol, td {
  font-size: 13px;
  line-height: 18px;
}
body, ul {
  margin: 0;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}
[class^="icon-"], [class*=" icon-"] {
    display: inline-block;
    width: 100%;
}
a { color: #000; }

th { padding-bottom: 5px; }

td { padding: 0 7px 8px;font-size: 15px; }

h4 {
  font-size: 15px;
}
div.field,
div.actions { margin-bottom: 10px; }
.container {
  width: 1080px;
  margin: 0 auto;
}
#notice { color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

label { display: block; }
.nav-list-item {
  display: table;
  height: 48px;
}
.nav-list-item li {
  height: 100%;
  display: table-cell;
  font-family: 'Raleway', sans-serif;
}
.a-item-content {
  position: relative;
  display: inline-block;
}

.a-center-content {
  vertical-align: middle;
  font-size: 15px;
  color: #717274;
  line-height: 60px;
  font-weight: bold;
}

.app-icon {
  float: left;
}
.app-icon img {
  width: 30px;
  height: 30px;
}
.header-content nav {
  display: table-cell;
  vertical-align: middle;
  float: right;
  position: absolute;
  right: 0;
}
.a-center-content a {
  padding: 0px 16px;
  border-radius: 3px;
  text-decoration: none;
  color: #717274;
}
.a-center-content a .li-title {
  padding: 6px 10px;
  border-radius: 3px;
  border: 2px solid transparent;
}
.a-center-content a i:hover {
  color: #8FD5FE;
}
.a-center-content a i {
  position: relative;
}
.a-center-content a i span {
  position: absolute;
  font-weight: 600;
  right: -10px;
  top: -11px;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  color:  #8FD5FE;
}
#open_notificaton {
  font-family: 'Roboto', sans-serif;
}
.a-center-content a i .notification {
  top: -11px;
  right: -7px;
}
.a-center-content a .li-title:hover {
  border: 2px solid #8FD5FE;
}
.header-content {
  margin: 0 60px;
  height: 100%;
  display: flex;
  position: relative;
}
.web-logo {
  display: inline-block;
  cursor: pointer;
}
.web-logo img {
  width: 60px;
  height: 60px;
}
.web-logo form, a {
  display: inline-block;
  text-decoration: none;
}
.web-logo form input {
  border: 0;
}
.form-search-header {
  width: 300px;
  height: 100%;
  vertical-align: middle;
  padding: 0 10px;
  display: inline-block;
}
.asd {
  vertical-align: middle;
  line-height: 60px;
  box-sizing: border-box;
  height: 100%;
}
.asd form  input {
  font-size: 15px;
  border: 0;
  outline: none;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  padding-left: 14px;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f6f9fc;
}
.asd form  input:focus {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.1);
}
.c-nav {
  border-top: 1px solid #ebebeb;
  width: 100%;
  margin-top: 60px;
  padding: 0;
}
.c-nav--footer__menu {
  padding-top: 5rem;
}
.o-content-container {
  max-width: 76.875rem;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  box-sizing: inherit;
}
.c-nav-footer__list {
  display: grid;
  padding: 0;
}
.c-nav-footer__block span{
  font-weight: 600;
  font-size: 16px;
}
.c-nav-footer__listitem {
  height: 100%;
  display: table-cell;
  padding: 13px 0;
}
.c-nav-footer__listitem a {
  text-decoration: none;
  font-size: 14px;
  height: 100%;
  display: table-cell;
}
.footer-logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3)
}
.show {display:block;}
.widget-container {position: absolute;}
.widget-container .small-chat {
  background: white;
  border: none;
  border-radius: 7px;
  display: block;
  position: fixed;
  top: auto;
  left: auto;
  bottom: 24px;
  right: 24px;
  width: 300px !important;
  height: 460px !important;
  visibility: visible;
  z-index: 2147483647;
  max-height: 100vh;
  max-width: 100vw;
  transition: none;
  opacity: 1;
  box-shadow: 5px 0 20px 5px rgba(0,0,0,.1);
}
.messenger {
  display: flex;
  flex-direction: column;
}
.messenger-header {
  padding: 17px 20px;
  display: flex;
  border-bottom: 1px #EEE solid;
}
.messenger-header h3 {
  margin: 0;
  width: 100%;
  font-size: 17px;
}
.messenger-header i {
  cursor: pointer;
  color: #918c8c;
}
.messenger-header i:hover {
  color: #484848;
}
.messenger-content {
  height: 407px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  box-sizing: border-box;
}
.messenger-content .messages {
  height: inherit;
  position: relative;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;

}
.messenger-content .message-input {
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
  padding: 15px 20px;
  display: flex;
  box-sizing: border-box;
  border-top: 1px #EEE solid;
}
.message-input input {
  outline: none;
  border: none;
  font-size: 15px;
  width: 100%
}
.ck-sticky-panel__content {
  top: 60px!important;
}
.search-results-paginate .pagination{
  font-size: 1.17em;
}
