@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');
body, input {
  background-color: #fff;
  color: #484848;
  font-family: 'Raleway', sans-serif;
}
header {
  height: 60px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
}
body, ol, td {
  font-size: 13px;
  line-height: 18px;
}
body, ul {
  margin: 0;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div.field,
div.actions {
  margin-bottom: 10px;
}
.container {
  width: 1080px;
  margin: 0 auto;
}
#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

label {
  display: block;
}
ul {
  display: table;
  height: 48px;
}
li {
  height: 100%;
  line-height: 46px;
  display: table-cell;
  font-family: 'Raleway', sans-serif;
}
.a-item-content {
  display: inline-block;
  cursor: pointer;
}
.a-center-content {
  vertical-align: middle;
  font-size: 15px;
  color: #717274;
  line-height: 60px;
  font-weight: bold;
}
.app-icon {
  float: left;
}
.app-icon img {
  width: 30px;
  height: 30px;
}
.header-content {

}
nav {
  display: table-cell;
  vertical-align: middle;
  float: right;
}
.a-center-content span {
  padding: 6px 16px;
  border-radius: 3px;
  border: 2px solid transparent;
}
.a-center-content span:hover {
  border: 2px solid #8FD5FE;
}
.header-content {
  margin: 0 60px;
}
.web-logo {
  display: inline-block;
  cursor: pointer;
}
.web-logo img {
  width: 60px;
  height: 60px;
}