.c-job-details {
  display: inline-block;
  .l-content-jds {
    margin-top: -35px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    float: left;
    width: 70%;
    background-color: #FFF;
  }
  .company-images {
    .job-title {
      margin-top: 20px;
      margin-bottom: 18px;
      margin-left: 25px;
      display: block;
      h3 {
        font-size: 24px;
        font-weight: 500;
      }
      .js-user-name {
        display: inherit;
        color: #8FD5FE;
        cursor: pointer;
      }
      .js-chat-or-viewprofile {
        display: none;
        position: absolute;
        background: #FFF;
        top: 34px;
        left: 32px;
        box-shadow: 0 0 20px rgba(0,0,0,.1);
        ul {
          height: inherit;
          padding: 0;
          li {
            display: block;
            line-height: normal;
            a {
              padding: 12px 15px;
              text-decoration: none;
            }
            &:hover {
              background: #f9f9f9;
            }
          }
        }
      }
      .company-name {
        display: inherit;
        color: #8FD5FE;
      }
      .job-description {
        display: block;
        margin-right: 20px;
      }
    }
  }
}
.r-content-jds {
  margin-top: 35px;
  float: right;
  width: 30%;
  cursor: pointer;
  .r-c-content-jds {
    padding: 10px;
    margin-left: 23px;
    border-radius: 2px;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
    margin-bottom: 8px;
    background: #8FD5FE;
  }
  .cc-title-jds {
    font-weight: 700;
    font-size: 15px;
  }
  .cc-content-jds {
    margin-top: 4px;
  }
  li {
      display: list-item;
      line-height: initial;
      margin-bottom: 5px;
    }
}
.apply-now-btn {
  padding: 9px 22px;
  border-radius: 22px;
  color: #FFF;font-size: 14px;
  font-weight: 700;
  background-color: #8FD5FE;
  cursor: pointer;
}
.conpany-background {
  height: 350px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: right 60px;
}
.company-img {
  display: inline-block;
  margin-right: 25px;
  height: 90px;
  vertical-align: top;
  > img {
    width: 90px;
    height: initial;
    /* max-height: 144px; */
    border-radius: 4px;
    text-align: center;
  }

}
.r-c-content-jds {
  input {
    outline: none;
    padding: 10px;
    border: 1px solid #DDD;
    border-radius: 4px;
    width: -webkit-fill-available;
  }
}
.job-description {
  b {
    font-size: 15px;
  }
}
.people-you-may-know {
  margin-left: 25px;
  margin-top: 40px;
  h3 {
    font-size: 18px;
  }
  .list-people{
    .item{
      box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
      border-radius: 4px;
      padding: 8px;
      margin-bottom: 8px;
      .user-icon{
        height: 42px;
        display: inline-block;
        img {
          height: 42px;
          border-radius: 12px;
        }
      }
      .basic-infor {
        display: inline-block;
        vertical-align: top;
        margin-top: 6px;
        margin-left: 6px;
        .username {
          strong {
            font-size: 15px;
          }
        }
      }
    }
  }
}
.more-from-recruiter {
  margin-left: 25px;
  margin-top: 40px;
  h3 {
    font-size: 18px;
    a {
      color: #8FD5FE;
      text-decoration: none;
    }
  }
  .list-jobs-from-recruiter {
    .item {
      box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
      border-radius: 4px;
      padding: 10px;
      margin-bottom: 8px;
      display: block;
      text-decoration: none;
      .basic-infor {
        margin-left: 2px;
        margin-top: 2px;
        .limit {
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
        }
        .title {
          font-weight: 600;
          font-size: 15px;
          margin-bottom: 6px;
        }
        .locations {
          .fas {
            color: #ACACAC;
          }
        }
        .salary {
          .fas {
            color: #8FD5FE;
            margin-left: 3px;
          }
        }
      }
    }
  }
}
