.active {
  a {
    i {
      color: #8FD5FE;
    }
  }
}
.account-dropdown, .notification-dropdown, .message-dropdown {
    display: none;
    position: absolute;
    right: 10px;
    top: 50px;
    z-index: 1000;
    background: white;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    ul {
      padding: 0;
      padding-top: 7px;
      width: 200px;
      height: inherit;
      li {
        height: initial;
        display: block;
        &:hover {
          background: #f9f9f9!important;
        }
        a {
          padding: 0 17px;
          text-decoration: none;
          width: 100%;
          box-sizing: border-box;
        }
      }
    }
  }
.account-dropdown ul li a {
  padding: 11px 17px;
}
.message-dropdown, .notification-dropdown {
  .message-header {
    padding: 0 12px;
    padding-top: 3px;
    border-bottom: 1px solid #dddddd61;
    a {
      padding: 6px;
      color: #5FA7D1;
      font-weight: 600;
      cursor: pointer;
    }
    .mark-read-all {
      float: right;
    }
  }
  ul {
    width: 360px;
    height: 360px;
    padding-top: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    overscroll-behavior: contain contain;
    &:hover, &:active, &:focus {
      overflow-y: scroll;
    }
    &::-webkit-scrollbar-track-piece {
      background-color: transparent;
      -webkit-border-radius: 6px;
    }
    &::-webkit-scrollbar  {
      width: 8px;
      height: 10px;
      background: transparent;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      -webkit-border-radius: 10px;
      border-radius: 10px;
      background: #DDDDDD; 
    }
    .message-thread {
      margin-right: -15px;
      width: 360px;

      direction: ltr;
      position: relative;
    }
    li {
      border-bottom: 1px solid #dddddd61;
      &.readed {
        background: #f9f9f982;
      }
      cursor: pointer;
      a {
        padding: 14px 17px;
      }
      
    }

  }
}
.notification-item, .applyer-item  {
  display: flex;
  padding: 0 12px;
  position: relative;
  .user-icon {
    padding: 6px;
    height: 40px;
    img {
      width: 40px;
      height: 40px;
      border-radius: 4px;
    }
  }
  .message-content, .notification-content {
    width: max-content;
    padding: 6px;
    box-sizing: border-box;
    .user-name {
      margin-bottom: 4px;
      font-weight: 600;
    }
    .message {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  .time {
    padding: 6px;
  }
  .notification-content {
    .notification-action {
      strong:last-child {
        color: #5FA7D1;
      }
    }
    .time {
      padding: 0;
    }
  }
  .js-count-noti {
    transition: all 1s ease;
  }
}
#notificationList {
  .notification-item {
    padding: 0 17px;
  }
}
.notification-item {
  .user-icon {
    padding: 6px;
    padding-left: 0;
    img {
      border-radius: 50%;
    }
  }
}
li {
  .message-item {
    display: flex;
    .user-icon {
      height: 42px;
      display: flex;
      padding: 12px;
      margin: auto 0;
      img {
        margin: auto 0;
        height: 42px;
      }
    }
    .message-content {
      width: calc(100% - 114px);
      padding: 12px 0;
      .user-name {
        margin-bottom: 6px;
        font-weight: 600;
        font-size: 15px;
      }
      .message {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }
    .time {
      float: right;
      padding-right: 12px;
      padding-top: 12px;
    }
  }
}
.search-history {
  position: absolute;
  z-index: 3;
  width: 300px;
  top: 54px;
  text-align: 0;
  background: white;
  transition-delay: .25s;
  display: none;
  .s-h-content {
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.15);
    padding: 8px;
    background: white;
    border-radius: 4px;
    .s-h-list-items {
      margin-top: 6px;
      .h-item {
        font-weight: 600;
        padding: 8px 6px;
        cursor: pointer;
        &:hover {
          background: #f5f5f5;
          border-radius: 3px;
        }
      }
    }
  }
}
.main-seach-job {
  &:focus {
    ~ .search-history {
      display: block;
    }
  }
}