<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: user_registration(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  
  <div class="actions">
    <%= f.submit "Continue" %>
  </div>
<% end %>
